body {
    overflow: hidden;
    background-color: #DC6B19;
}
nav div {
    margin-left: 2rem;
    color: white;
    display: flex;
    justify-content: space-between;
    animation-name: menu-animation;
    animation-duration: 1s;
}
/*
@keyframes menu-animation {
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(20px);
    }
    
}
*/
nav div p {
    margin-left: 1rem;
    font-style: italic;
    font-weight: bold;
    font-size: 2.3rem;
    line-height: 2rem;
}
nav div ul {
    margin-top: 1.5rem;
    margin-right: 1rem;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
nav div ul li a {
    display: inline-block;
    padding: 0.5rem;
    border-radius: 7px;
    background-color: #000000;
    font-size: 1.2rem;
    color: white;
    margin-right: 2rem;
    text-decoration: none;
}
nav div ul li a:hover {
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
}
nav div ul li a:active {
    border: #000000;
    transform: translateY(4px);
}
.section-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.content {
    margin-left: 2rem;
    padding-top: 1rem;
    padding-left: 4rem;
    padding-right: 2rem;
    width: 100%;
    animation-name: content-animation;
    animation-duration: 1s;
}
@keyframes content-animation {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(20px);
    }
    
}
.content b {
    font-size: 1.5rem;
}
.content p {
    font-size: 1.2rem;
}
/*
.receipe::before{
    z-index: -1;
    position: absolute;
    content: "";
    background-color: blueviolet;
    width: 31.2rem;
    height: 30.2rem;
    border-radius: 50%;
    right: -3px;
    filter: blur(30px);
}
*/
.receipe img{
    margin-top: 1rem;
    border-radius: 4rem;
    margin-left: 14rem;
    width: 60%;
    animation-name: image-animation;
    animation-duration: 1s;
}
@keyframes image-animation {
    0% {
        transform: translateX(-10px);
    }
    100% {
        transform: translateX(-20px);
    }
    
}
.receipe img:hover{
    box-shadow: 20px 15px 80px 2px;
    scale: 1.05;
    transition: 2s ease;
    /*border: 2px solid #90d626;
    border-radius: 4rem;*/
}
